---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:18@sha256:c835ea1053376ab101e3528cd9d3712c8f760378af6f6a4b5bd74c119e35e190

  primaryUpdateStrategy: unsupervised
  # switch to switchover when instances > 1
  primaryUpdateMethod: restart

  storage:
    storageClass: openebs-hostpath
    size: 20Gi

  managed:
    services:
      # we're single node anyway
      disabledDefaultServices: ["ro", "r"]
    roles:
      - name: &default app
        login: false
  
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      enabled: true
      isWALArchiver: true
      parameters:
        barmanObjectName: garage

  bootstrap:
    # initdb:
    #   database: *default
    #   owner: *default
    recovery:
      database: *default
      owner: *default
      source: garage

  externalClusters:
    - name: garage
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: garage
          serverName: postgres

  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      memory: 1Gi

  monitoring:
    enablePodMonitor: true
