[env]
'_'.file = { path = ".env" }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_CMD = "op read 'op://homelab/kube age key/password'"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"

LOCAL_FISH_COMPLETE_PATH = "{{config_root}}/.completions/fish"

[hooks.enter]
shell = "fish"
script = """
if not contains -- $LOCAL_FISH_COMPLETE_PATH $fish_complete_path
    set -p fish_complete_path $LOCAL_FISH_COMPLETE_PATH
end
"""

[hooks.leave]
shell = "fish"
script = """
set -l path_index (contains -i $LOCAL_FISH_COMPLETE_PATH $fish_complete_path)
and set -e fish_complete_path[$path_index]
"""

[hooks]
# fyi, this ALWAYS runs using `sh`
postinstall = "{{config_root}}/scripts/gen-completions.sh fish"

[tools]
"aqua:budimanjojo/talhelper" = "3.1.5"
"aqua:derailed/k9s" = "0.50.18"
"aqua:FiloSottile/age" = { version = "1.3.1", completions = false }
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:getsops/sops" = { version = "3.11.0", completions = false }
"aqua:go-task/task" = { version = "3.48.0", completions = true, completion_flag = "--completion" }
"aqua:jqlang/jq" = { version = "1.8.1", completions = false }
"aqua:kubernetes/kubectl" = "1.34.3"
"aqua:siderolabs/talos" = "1.12.4"
"aqua:utkuozdemir/pv-migrate" = "2.2.1"
"aqua:helm/helm" = "4.1.1"
"aqua:helmfile/helmfile" = "1.3.0"
"aqua:kubernetes-sigs/kustomize" = "5.8.0"
"aqua:mikefarah/yq" = { version = "4.52.4", completions = false }
"aqua:cilium/cilium-cli" = "0.19.1"
"aqua:cloudflare/cloudflared" = { version = "2026.2.0", completions = false }
"github:grafana/mcp-grafana" = { version = "0.11.0", completions = false }
"github:cloudnative-pg/cloudnative-pg" = "1.28.1"
"github:Handfish/talos-pilot" = { version = "0.1.9", completions = false }
"aqua:opentofu" = { version = "1.11.5", completions = false }
