[env]
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_CMD = "op read 'op://kube/kube age key/credential'"
TALOSCONFIG = "{{config_root}}/kubernetes/bootstrap/talos/clusterconfig/talosconfig"

[tools]
"aqua:budimanjojo/talhelper" = "3.0.41"
"aqua:derailed/k9s" = "0.50.16"
"aqua:FiloSottile/age" = "1.2.1"
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.45.5"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes/kubectl" = "1.34.3"
"aqua:siderolabs/talos" = "1.11.5"
"aqua:utkuozdemir/pv-migrate" = "2.2.1"
