[env]
'_'.file = { path = ".env" }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_CMD = "op read 'op://homelab/kube age key/password'"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"

LOCAL_FISH_COMPLETE_PATH = "{{config_root}}/.completions/fish"

[hooks.enter]
shell = "fish"
script = """
if not contains -- $LOCAL_FISH_COMPLETE_PATH $fish_complete_path
    set -p fish_complete_path $LOCAL_FISH_COMPLETE_PATH
end
"""

[hooks.leave]
shell = "fish"
script = """
set -l path_index (contains -i $LOCAL_FISH_COMPLETE_PATH $fish_complete_path)
and set -e fish_complete_path[$path_index]
"""

[hooks]
postinstall = "{{config_root}}/scripts/gen-completions.sh fish"

[tools]
"aqua:budimanjojo/talhelper" = "3.0.43"
"aqua:derailed/k9s" = "0.50.16"
"aqua:FiloSottile/age" = "1.3.1"
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.46.4"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes/kubectl" = "1.34.3"
"aqua:siderolabs/talos" = "1.12.0"
"aqua:utkuozdemir/pv-migrate" = "2.2.1"
"aqua:helm/helm" = "4.0.4"
"aqua:helmfile/helmfile" = "1.2.3"
"aqua:kubernetes-sigs/kustomize" = "5.8.0"
"aqua:mikefarah/yq" = "4.50.1"
"aqua:cilium/cilium-cli" = "0.18.9"
