---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vmks
spec:
  chartRef:
    kind: OCIRepository
    name: victoria-metrics-k8s-stack
  interval: 1h
  values:
    victoria-metrics-operator:
      enabled: false # deployed separately
    vmsingle:
      enabled: true
      spec:
        retentionPeriod: "100y"
        storageDataPath: /victoria-metrics-data
        volumes:
          - name: data
            persistentVolumeClaim:
              claimName: "${APP}"
    vmcluster:
      enabled: false
    alertmanager:
      enabled: true
    vmalert:
      enabled: true
    vmauth:
      enabled: false
    vmagent:
      enabled: true
      spec:
        insertPorts:
          # graphitePort: "2003"
          influxPort: "8086"
        serviceSpec:
          metadata:
            name: vmagent-metrics-ingest
            annotations:
              lbipam.cilium.io/ips: "10.0.42.131"
              external-dns.alpha.kubernetes.io/hostname: metrics-ingest.${SECRET_DOMAIN}
          spec:
            type: LoadBalancer
            ports:
              # - name: graphite-tcp
              #   port: 2003
              #   targetPort: 2003
              #   protocol: TCP
              # - name: graphite-udp
              #   port: 2003
              #   targetPort: 2003
              #   protocol: UDP
              - name: influx-tcp
                port: 8086
                targetPort: 8086
                protocol: TCP

    grafana:
      # deployed separately
      enabled: false
      # create GrafanaDataSources even though we're not using the grafana provided by VMKS
      forceDeployDatasource: true

    defaultDashboards:
      defaultTimezone: America/Detroit
      grafanaOperator:
        enabled: true

    defaultDatasources:
      grafanaOperator:
        enabled: true

    prometheus-node-exporter:
      enabled: true
    kube-state-metrics:
      enabled: true
    kubelet:
      enabled: true
    kubeApiServer:
      enabled: true
    kubeControllerManager:
      enabled: true
      vmScrape:
        spec:
          endpoints:
            - port: http-metrics
              scheme: https
              bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              tlsConfig:
                insecureSkipVerify: true
    kubeDns:
      enabled: false # because coredns instead
    coreDns:
      enabled: true
    kubeEtcd:
      enabled: true
      service:
        port: 2381
        targetPort: 2381
        selector:
          # talos doesn't run etcd as a pod
          component: kube-apiserver
      vmScrape:
        spec:
          endpoints:
            - port: http-metrics
              scheme: http
    kubeScheduler:
      enabled: true
      vmScrape:
        spec:
          endpoints:
            - port: http-metrics
              scheme: https
              bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              tlsConfig:
                insecureSkipVerify: true
    kubeProxy:
      enabled: false # cilium replaces it
