apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{app}}-secret
spec:
  refreshInterval: 1h
  refreshPolicy: Periodic
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: {{app}}-secret
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
  data:
    - secretKey: password
      remoteRef:
        key: k8s-{{namespace}}-{{app}}-secret/password
