---
clusterName: homelab

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.1
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

endpoint: https://10.0.42.2:6443
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: talos0
    ipAddress: "10.0.42.3"
    controlPlane: true
    installDiskSelector:
      size: "960197124096"
      model: "SAMSUNG*"
    kernelModules:
      - name: zfs
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
            - siderolabs/zfs
        bootloader: sd-boot
    # todo: state and ephemeral disk encryption
    volumes:
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.pretty_size == "960 GB" && disk.model.startsWith("SAMSUNG")
          maxSize: 100GB
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:e6:44:8b"
        dhcp: false
        addresses:
          - "10.0.42.3/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.0.42.1"
        mtu: 1500
        vip:
          ip: "10.0.42.2"
    patches:
      - |-
        apiVersion: v1alpha1
        kind: RawVolumeConfig
        name: openebs-zpool
        provisioning:
          diskSelector:
            match: disk.pretty_size == "960 GB" && disk.model.startsWith("SAMSUNG")
          minSize: "500GB"
          grow: true
      - |-
        apiVersion: v1alpha1
        kind: UserVolumeConfig
        name: local-hostpath
        volumeType: directory

controlPlane:
  patches:
    - |-
      cluster:
        # Disable built-in CoreDNS to use Helm-managed CoreDNS
        coreDNS:
          disabled: true

        # Disable kube-proxy since Cilium replaces it
        proxy: 
          disabled: true
        
        # Enable MutatingAdmissionPolicy (and friends)
        apiServer:
          extraArgs:
            feature-gates: MutatingAdmissionPolicy=true
            runtime-config: admissionregistration.k8s.io/v1beta1=true
