---
clusterName: homelab

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.0
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

endpoint: https://10.0.42.2:6443
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

# Controller patches
controlPlane:
  patches:
    - |-
      cluster:
        # Disable built-in CoreDNS to use Helm-managed CoreDNS
        coreDNS:
          disabled: true

        # Disable kube-proxy since Cilium replaces it
        proxy: 
          disabled: true

nodes:
  - hostname: talos0
    ipAddress: "10.0.42.3"
    controlPlane: true
    installDisk: /dev/sda
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:e6:44:8b"
        dhcp: false
        addresses:
          - "10.0.42.3/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.0.42.1"
        mtu: 1500
        vip:
          ip: "10.0.42.2"
