---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
spec:
  chartRef:
    kind: OCIRepository
    name: pocket-id
  interval: 1h
  values:
    controllers:
      pocket-id:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          pocket-id:
            image: ghcr.io/pocket-id/pocket-id
            tag: v2.1.0@sha256:f8ed26e8012ae60d5320735dcdecf7347778e2a31c69a147f5c030e017cb32d9
          envFrom:
            - secretRef:
                name: pocket-id-secret
          env:
            APP_URL: https://pocket-id.${SECRET_DOMAIN}
            ENCRYPTION_KEY_FILE: # todo
            TRUST_PROXY: true
            TZ: America/Detroit
            METRICS_ENABLED: "true"
            # OTEL_EXPORTER_<whatever> # todo
          probes:
            liveness:
              enabled: true
              # todo: figure out how app-template does this
              # custom: true
              # spec:
              #   httpGet:
              #     path: /health
              #     port: &port 1411
    persistence:
      data:
        existingClaim: "${APP}"
        globalMounts:
          - path: /app/data
    route:
      pocket-id:
        hostnames:
          - "pocket-id.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - port: &port 1411
                name: pocket-id
    service:
      pocket-id:
        controller: pocket-id
        ports:
          http:
            port: *port
